<%= render 'shared/error_messages', object: @user %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<div>
<%= f.label :mcai_member, "MCAI Member", style: 'width: 100%;' %>
<%= f.radio_button :mcai_member, true, style: 'width: auto; margin-bottom: 15px;'%> Yes
<%= f.radio_button :mcai_member, false, style: 'width: auto;' %> No
</div>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :company %>
<%= f.text_field :company %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>