<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>    
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="row">
    <div class="col-md-4">
      <h1>Submissions</h1>
    </div>
  </div>
  <div class="col-md-12">    
    <% @user.submission_events.each do |se| -%>
    <div class="row">
      <h1><%= link_to se.name, event_path(se) %></h1>
      <% @user.submissions(where: { event: se }).each do |s| %>
      <div class="col-md-3 col-md-offset-1">
        <h3><%= s.category.name %> <small><%= link_to '', edit_submission_path(s), class: "glyphicon glyphicon-edit" %>
          <%= link_to '', s, method: :delete, class: "glyphicon glyphicon-remove-circle", data: { confirm: "You sure?" } %></small></h3>
        <p>
        <% if s.upload_url && !s.upload_url.empty? -%>
          File: <%= s.upload_url.match('\/([^\/]+$)')[1] %>
        <% elsif s.video_url && !s.video_url.empty? -%>
          <%= s.video_url %>
        <% else -%>          
          <%= form_for(s, html: { class: "directUpload" }) do |sub| %>
            <div class="field">
              <span class="btn btn-large btn-primary btn-file">Upload video<%= sub.file_field :upload_url %></span>
            </div>

            <%= sub.submit "Save entry", class: "btn btn-large btn-primary", style: "display: none;" %>
          <% end %>
        <% end -%>
        </p>
        <h4><%= s.title %></h4>
        <ul>
          <li><strong>Role: </strong><%= s.user_role %></li>
          <li><strong>Client: </strong><%= s.client %></li>
          <li><strong>Budget: </strong><%= s.budget %></li>
          <li><strong>Production Company: </strong><%= s.production_company %></li>
          <li><strong>Director: </strong><%= s.director %></li>
          <li><strong>Cinematographer/Videographer: </strong><%= s.cinematographer %></li>
          <li><strong>Editor: </strong><%= s.editor %></li>
          <li><strong>Goals of the piece & other comments</strong><%= s.comments_other %></li>
        </ul>
      </div>
      <% end -%>
    </div>
    <% end -%>
  </div>
</div>

<%= render 'scripts' %>
<%= render 'youtube_embed' %>