<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>    
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-12">    
    <% if @user.submissions.empty? -%><h1>Wave Awards 2014</h1><p class="text-center"><%= link_to "New Submission", '/submissions/new?id=1', class: "btn btn-lg btn-success" %></p><% end -%>
    <% @user.submission_events.each do |se| -%>
    <div class="row">
      <h1><%= link_to se.name, event_path(se) %></h1>      
      <p class="text-center"><%= link_to "New Submission", new_submission_path(id: se.id), class: "btn btn-lg btn-success" %></p>
      <% se.submissions.where(user: @user).each do |s| %>           
      <div class="col-md-4 <%= 'alert alert-warning' if s.order.nil? %>">
        <h3><%= s.category.name %> <small><%= link_to '', edit_submission_path(s), class: "glyphicon glyphicon-edit" %>
          <%= link_to '', s, method: :delete, class: "glyphicon glyphicon-remove-circle", data: { confirm: "You sure?" } %></small></h3>
        <p>
        <% if s.upload_url && !s.upload_url.empty? -%>
          <div class="alert alert-success">File uploaded successfully!<br /><%= link_to s.upload_url.match('\/([^\/]+$)')[1], s.upload_url %></div>
        <% elsif s.video_url && !s.video_url.empty? -%>
          <%= s.video_url %>
        <% else -%>          
          <%= form_for(s, html: { class: "directUpload" }) do |sub| %>
            <div class="field">
              <span class="btn btn-large btn-primary btn-file">Upload video<%= sub.file_field :upload_url %></span>
            </div>

            <%= sub.submit "Save entry", class: "btn btn-large btn-primary", style: "display: none;" %>
          <% end %>
        <% end -%>
        </p>
        <h4><%= s.title %></h4>
        <ul>
          <li><strong>Role: </strong><%= s.user_role %></li>
          <li><strong>Client: </strong><%= s.client %></li>
          <li><strong>Budget: </strong><%= s.budget %></li>
          <li><strong>Production Company: </strong><%= s.production_company %></li>
          <li><strong>Producer: </strong><%= s.producer %></li>
          <li><strong>Director: </strong><%= s.director %></li>
          <li><strong>Cinematographer/Videographer: </strong><%= s.cinematographer %></li>
          <li><strong>Editor: </strong><%= s.editor %></li>
          <li><strong>Goals of Piece & Other Comments: </strong><%= s.comments_other %></li>
        </ul>
        <small><% if s.order.nil? -%>Payment due for entry: $<%= @user.current_cost(se) %>
        <% else -%>Payment successful.
        <% end -%></small>
      </div>
      <% end -%>
    </div>
    <% if @user.unpaid_submissions(se).count > 0 -%>
     <h3>Finish and pay through Paypal:
      <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=ryanfreng-facilitator@gmail.com" 
      data-button="buynow" 
      data-name="Wave Award Entry" 
      data-quantity="<%= @user.unpaid_submissions(se).count %>" 
      data-amount="<%= @user.current_cost(se) %>" 
      data-callback-url="https://filmwin.herokuapp.com/users/submissions" 
      data-return-url="https://127.0.0.1:3000/users/1"
      data-env="sandbox"
      ></script></h3>
    <% else -%>
      <h3 class="alert alert-success">Your all done! Your submissions and payment were successful! Sit back and relax</h3> 
    <% end -%>  
    <% end -%> 
  </div>
  <div>
  </div>
</div>

<%= render 'scripts' %>
<%= render 'youtube_embed' %>