<% provide(:title, @event.name) %>
<div class="jumbotron wave-bg">
  <% if signed_in? and current_user.events.find_by(id: params[:id]) -%>
  <%= link_to "Edit event", edit_event_path(@event) %>
  <% end -%>
  <h1>
    <%= @event.name %>
  </h1>
  <p class="lead">
    <%= @event.sub_heading %>
  </p>
  <% if @event.entry_start_date <= Date.today && @event.entry_end_date >= Date.today -%>
  <p><%= link_to "Enter now!", new_submission_path(id: @event.id), class: "btn btn-lg btn-success" %></p>
  <% elsif @event.entry_start_date > Date.today -%>
  <p><%= link_to "Entry not open yet!", '#', class: "btn btn-lg btn-primary" %></p>
  <% else -%>
  <p><%= link_to "Entry closed!", '#', class: "btn btn-lg btn-primary" %></p>
  <% end -%>
</div>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
  <h3 class="justify-content-center col-md-8 col-md-offset-2">Thank you to our site sponsors!</h3>
  <p class="col-md-8 col-md-offset-2">
    <%= image_tag('weather_gage_productions_logo_black.png', class: 'float-left', height: 75) %>
    <%= image_tag('tilt_web.png', class: 'float-left', height: 75) %>
    <%= image_tag('sponsor-logo-edit-squid.png', class: 'float-left', height: 75) %>
    <%= image_tag('blue-scissors-440w.png', class: 'float-left', height: 75) %>
  </p>
</div>

<div class="row">
  <p class="col-md-8 col-md-offset-2">
    <%= @event.description %>
  </p>
</div>
<div class="row text-center" style="margin-top: 60px; margin-bottom: 60px;">
  <div class="event-detail col-md-3 col-xs-6">
    <span style="font-size: 40px;" class="glyphicon glyphicon-ok"></span>
    <h3>Entry Opens</h3> 
    <h4><%= pretty_date(@event.entry_start_date) %></h4>
  </div>
  <div class="event-detail col-md-3 col-xs-6">
    <span style="font-size: 40px;" class="glyphicon glyphicon-remove"></span>
    <h3>Entry Closes</h3> 
    <h4><%= pretty_date(@event.entry_end_date) %></h4>
  </div>
  <div class="event-detail col-md-3 col-xs-6">
    <span style="font-size: 40px;" class="glyphicon glyphicon-user"></span>
    <h3>Judging Date</h3> 
    <h4><%= pretty_date(@event.judging_date) %></h4>
  </div>
  <div class="event-detail col-md-3 col-xs-6">
    <span style="font-size: 40px;" class="glyphicon glyphicon-gift"></span>
    <h3>Awards Show</h3> 
    <h4><%= pretty_date_time(@event.show_date) %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <h2 class="sidebar-heading">Categories</h2>
  </div>
  <div class="col-md-6">
  <% @event.parent_categories.sort { |x, y| y.children.count <=> x.children.count }.each_slice(2) do |slice| -%>
    <div class="row">
    <% slice.each do |p| %>
      <div class="col-sm-6">
        <h3><%= link_to("Edit", edit_category_path(p)) if can_edit_event? %> <%= p.name %></h3>
        <p class="description"><%= p.description %></p>
        <ul class="category-list">
        <% p.children.each do |c| -%>
          <li><h4><%= link_to("Edit", edit_category_path(c)) if can_edit_event? %> <%= c.name %></h4><%= c.description %></li>
        <% end -%>
        </ul>
      </div>
    <% end -%>
    </div>
  <% end -%>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <h2 class="sidebar-heading">Top Awards</h2>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-12">
        <p class="description">These will be awarded in addition to the category awards.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Judges Favorite (3)</h3>
        <p>Each judge picks their favorite piece.</p>
      </div>
      <div class="col-sm-6">
        <h3>Best in Show</h3>
        <p>The piece that stands above the rest.</p>
      </div>
    </div>
  </div>
</div>