<% provide(:title, @event.name) %>
<div class="center hero-unit">
  <% if signed_in? and current_user.events.find_by(id: params[:id]) -%>
  <%= link_to "Edit event", edit_event_path(@event) %>
  <% end -%>
  <h1>
    <%= @event.name %>
  </h1>
  <h2>
    <%= @event.sub_heading %>
  </h2>
</div>
<p>
  <%= @event.description %>
</p>
<p>
  <ul>
    <li><p><strong>Entry Opens:</strong> 
          <%= pretty_date(@event.entry_start_date) %>
        </p>
    </li>
    <li><p><strong>Entry Closes:</strong> 
          <%= pretty_date(@event.entry_end_date) %>
        </p>
    </li>
    <li><p><strong>Judging Date:</strong> 
          <%= pretty_date(@event.judging_date) %>
        </p>
    </li>
    <li><p><strong>Awards Show Date:</strong> 
          <%= pretty_date_time(@event.show_date) %>
        </p>
    </li>
  </ul>
</p>
<h1>Categories</h1>
<h2><%= link_to "New category", new_category_path if can_edit_event? %>
<% @event.parent_categories.each do |p| -%>
<h3><%= p.name %>
  <%= link_to("Edit category", edit_category_path(p)) if can_edit_event? %></h3>
<p><%= p.description %></p>
<ul>
  <% p.children.each do |c| -%>
  <li><h4><%= c.name %><%= link_to("Edit category", edit_category_path(c)) if can_edit_event? %></h4><%= c.description %></li>
  <% end -%>
</ul>
<% end -%>