<% provide(:title, @event.name) %>
<div class="center hero-unit">
  <% if signed_in? and current_user.events.find_by(id: params[:id]) -%>
  <%= link_to "Edit", edit_event_path(@event) %>
  <% end -%>
  <h1>
    <%= @event.name %>
  </h1>
  <h2>
    <%= @event.sub_heading %>
  </h2>
</div>
<p>
  <%= @event.description %>
</p>
<p>
  <ul>
    <li><p><strong>Entry Opens:</strong> 
          <%= pretty_date(@event.entry_start_date) %>
        </p>
    </li>
    <li><p><strong>Entry Closes:</strong> 
          <%= pretty_date(@event.entry_end_date) %>
        </p>
    </li>
    <li><p><strong>Judging Date:</strong> 
          <%= pretty_date(@event.judging_date) %>
        </p>
    </li>
    <li><p><strong>Awards Show Date:</strong> 
          <%= pretty_date_time(@event.show_date) %>
        </p>
    </li>
  </ul>
</p>