<% provide(:title, @event.name + " Submissions") %>
<h1>Submissions for <%= @event.name %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">User</th>
      <th class="col-md-1">Category</th>
      <th class="col-md-1">Title</th>
      <th class="col-md-2">Client</th>
      <th>Budget</th>
      <th class="col-md-2">Production Company</th>
      <th>Video</th>
    </tr>
  </thead>
  <% @submissions.each do |sub| %>
  <tr<% if sub.order.nil? -%> class="danger"<% end -%>>
    <td>
      <%= sub.user.name %>
    </td>
    <td>
      <%= sub.category.name %>
    </td>
    <td>
      <%= sub.title %>
    </td>
    <td>
      <%= sub.client %>
    </td>
    <td>
      <%= sub.budget %>
    </td>
    <td>
      <%= sub.production_company %>
    </td>
    <td>
      <% if sub.video_url -%><%= sub.video_url %>
      <% elsif sub.upload_url -%><%= link_to s.upload_url.match('\/([^\/]+$)')[1], s.upload_url %>
      <% else -%>No video<% end -%>      

      <% %w(director editor producer cinematographer).each do |field| -%>
        <% if !sub[field].blank? -%>
          <p><strong><%= field.upcase %>:</strong> <%= sub[field] %></p>
        <% end -%>
      <% end -%>
      <% if !sub.comments_other.blank? -%>
      <h3>Comments</h3>
      <p><%= sub.comments_other %></p>
      <% end -%>


    </td>
  </tr>
  <% end -%>
</table>

<%= render 'users/youtube_embed' %>