<h3><%= @event.name %><%= s.hidden_field :event_id, value: @event.id %></h3>
<%= s.hidden_field :user_id %>

<%= render 'shared/error_messages', object: @submission %>

<%= s.label :category_id %>
<%= s.grouped_collection_select :category_id, @event.parent_categories, :children, :name, :id, :name, { prompt: "Choose a category" }, { class: "form-control" } %>

<%= s.label :title %>
<%= s.text_field :title, placeholder: 'something awesome', class: "form-control" %>

<div class="form-group">
<%= s.label :video_url %>
<%= s.text_field :video_url, placeholder: "youtube & vimeo", class: "form-control" %>
<p class="help-block">If you need to upload a video you can do so after you save this submission</p>
</div>

<%= s.label :user_role, "Role" %>
<%= s.text_field :user_role, placeholder: "producer, editor, spectator", class: "form-control" %>

<%= s.label :client %>
<%= s.text_field :client, placeholder: "walt disney", class: "form-control" %>

<%= s.label :director%>
<%= s.text_field :director, placeholder: "spielberg", class: "form-control" %>

<%= s.label :cinematographer, "Cinematographer/Videographer" %>
<%= s.text_field :cinematographer, placeholder: "richard crudo", class: "form-control" %>

<%= s.label :editor%>
<%= s.text_field :editor, placeholder: "alan heim", class: "form-control" %>

<%= s.label :production_company %>
<%= s.text_field :production_company, placeholder: "edison studios", class: "form-control" %>

<%= s.label :budget %>
<%= s.text_field :budget, placeholder: "you mean like a number... on paper?", class: "form-control" %>

<%= s.label :comments_other, "Goals of Piece & Other Comments" %>
<%= s.text_area :comments_other, class: "form-control" %>