<h3><%= @event.name %><%= s.hidden_field :event_id, value: @event.id %></h3>
<%= s.hidden_field :user_id %>

<%= render 'shared/error_messages', object: @submission %>

<div class="form-group">
<%= s.label :entrant_name, "Project Submitter" %>
<%= s.text_field :entrant_name, placeholder: "orson wells", class: "form-control" %>
<p class="help-block">Who is entering this submission, if entering for someone else.</p>
</div>

* <%= s.label :category_id %>
<%= s.grouped_collection_select :category_id, @event.parent_categories, :children, :name, :id, :name, { prompt: "Choose a category" }, { class: "form-control" } %>

* <%= s.label :title %>
<%= s.text_field :title, placeholder: 'something awesome', class: "form-control" %>

<div class="form-group">
<%= s.label :video_url %>
<%= s.text_field :video_url, placeholder: "youtube & vimeo", class: "form-control" %>
<p class="help-block">ONLY youtube and vimeo links! If you need to upload, you can do that after you submit this form.</p>
</div>

<h4>Award Information Below</h4>
<p class="help-block">Leave fields blank where applicable.</p>

<div class="form-group">
* <%= s.label :recipient_name %>
<%= s.text_field :recipient_name, placeholder: "m night shyamalan", class: "form-control" %>
<p class="help-block">Who will receive the award should one be given (individual or company).</p>
</div>

<%= s.label :user_role, "Role" %>
<%= s.text_field :user_role, placeholder: "producer, editor, spectator, production company", class: "form-control" %>

<%= s.label :client %>
<%= s.text_field :client, placeholder: "walt disney", class: "form-control" %>

<%= s.label :director%>
<%= s.text_field :director, placeholder: "spielberg", class: "form-control" %>

<%= s.label :producer%>
<%= s.text_field :producer, placeholder: "jj abrams", class: "form-control" %>

<%= s.label :cinematographer, "Cinematographer/Videographer" %>
<%= s.text_field :cinematographer, placeholder: "richard crudo", class: "form-control" %>

<%= s.label :editor%>
<%= s.text_field :editor, placeholder: "alan heim", class: "form-control" %>

<%= s.label :production_company %>
<%= s.text_field :production_company, placeholder: "edison studios", class: "form-control" %>

<div class="form-group">
<%= s.label :extra_crew, "Additional Crew" %>
<%= s.text_area :extra_crew, class: "form-control" %>
<p class="help-block">Please list any additional crew who you would like credited in the project, ie. Animator: Walt Disney, Designer: Steve Jobs.</p>
</div>

<%= s.label :budget %>
<%= s.text_field :budget, placeholder: "you mean like a number... on paper?", class: "form-control" %>

<div class="form-group">
* <%= s.label :comments_other, "Goals of Piece & Other Comments" %>
<%= s.text_area :comments_other, class: "form-control" %>
<p class="help-block">You must enter a goal! If you do not, we will not know how to judge if your piece achieves it's purpose. Be as detailed as possible.</p>
</div>